p{
    font-size: 15px;
}
#id{
    color: greenyellow;
}
#class{
    color: rgb(232, 19, 65);
}
h1{
    display: flex;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-direction: row-reverse;
}
ol{
    margin-left: 10ex;
}
#grid{
    color: darkgreen;
}
#flex{
    color: darkorange;
}